%h1 Listing Gifts

%table
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    - @gifts.each do |gift|
      %tr
        %td= link_to 'Show', admin_gift_path(gift)
        %td= link_to 'Edit', edit_admin_gift_path(gift)
        %td= link_to 'Destroy', admin_gift_path(gift), method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Gift', new_admin_gift_path
