<h1>Listing admin_gifts</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_gifts.each do |admin_gift| %>
      <tr>
        <td><%= link_to 'Show', admin_gift %></td>
        <td><%= link_to 'Edit', edit_admin_gift_path(admin_gift) %></td>
        <td><%= link_to 'Destroy', admin_gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gift', new_admin_gift_path %>
